<%# app/views/students/index.html.erb %>
<% if controller.controller_name == 'frontpage' %>
  <h3>Find your subject</h3>
<% else %>
  <h1>Subjects</h1>
<% end %>
<br />
<%#
  Filterrific adds the `form_for_filterrific` view helper:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed',
      placeholder:"Search"
    ) %>
  </div>


  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'subjects/list',
  locals: { subjects: @subjects }
) %>

<% if user_is_super_admin %>
  <%= link_to 'New Subject', new_subject_path %>
<% end %>
