
<% if user_is_super_admin %>
  <%= link_to 'Edit', edit_subject_path(@subject) %> |
<% end %>

<h2>Courses</h2>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>

  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<% if @courses.empty? %>
  <p>
    No courses available
  </p>
<% else %>
  <%= render(
    partial: 'courses/list',
    locals: { courses: @courses }
  ) %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Identifier</th>
      <th>Keywords</th>
      <th>Exams</th>
    </tr>
  </thead>
  <tbody>
    <% @subject.courses.each do |course| %>
      <tr>
        <td>
          <%= link_to course.name, course_path(course), class: "btn btn-default" %>
        </td>
        <td>
          <%= course.identifier %>
        </td>
        <td>
          <%= course.keywords %>
        </td>
        <td>
          <%= course.exams.length %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
