

<h1>Listing Courses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Identifier</th>
      <th>Subject</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.identifier %></td>
        <td><%= course.subject %></td>
        <% if current_user_can_manage_course(course) %>
          <td><%= link_to 'Edit', edit_course_path(course) %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
