

<h1>
  <%= @course %>
  <small>
    <%= @course.identifier %>
  </small>
</h1>

<h3>
  <%= @course.subject %>
</h3>

<% if current_user_can_manage_course(@course) %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %>
<% end %>

<h3>Exams</h3>

<% if @course.exams.empty? %>
  <p>
    No exams available
  </p>
<% end %>

<% @course.exams.each do |exam| %>
  <%= exam %>
<% end %>
