<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @course.identifier %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @course.subject_id %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
