

<h1>
  <%= @course %>
  <small>
    <%= @course.identifier %>
  </small>
  <small>
    <%= @course.keywords %>
  </small>
</h1>

<h3>
  <%= link_to @course.subject.name, @course.subject %>
</h3>

<% if current_user_can_manage_course(@course) %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %>
<% end %>

<h3>Exams</h3>

<% if @course.exams.empty? %>
  <p>
    No exams available
  </p>
<% end %>

<table class="table">
    <tr>
      <th>Date</th>
      <th>Language</th>
      <th>Author</th>
      <th>Description</th>
    </tr>
    <% @course.exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.date, exam %></td>
        <td><%= exam.language %></td>
        <td><%= exam.author %></td>
        <td><%= exam.description %></td>
        <% if current_user_can_manage_course(@course) %>
          <td><%= link_to 'Edit', edit_exam_path(exam), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>