

<h1>
  <%= @course %>
  <small>
    <%= @course.identifier %>
  </small>
  <small>
    <%= @course.keywords %>
  </small>
</h1>

<% if current_user_can_manage_course(@course) %>
  <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %>
<% end %>

<h3>Exams</h3>

<% if @exams.empty? %>
  <p>
    No exams available
  </p>
<% else %>

  <%= form_for_filterrific @filterrific do |f| %>
    <div>
      Search
      <%= f.text_field(
        :search_query,
        class: 'filterrific-periodically-observed'
      ) %>
    </div>
    <%= render_filterrific_spinner %>
  <% end %>

  <%= render(
    partial: 'courses/list_exams',
    locals: { exams: @exams, course: @course }
  ) %>

<% end %>
