

<p>
  <strong>Language:</strong>
  <%= @exam.language %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @exam.author %>
</p>

<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>
