

<p>
  <strong>Language:</strong>
  <%= @exam.language %>
</p>

<p>
  <strong>Date:</strong>
  <%= @exam.date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @exam.author %>
</p>
<% if current_user_can_manage_course(@exam.course) %>
	<%= link_to 'Edit', edit_exam_path(@exam) %> | <% end %>
	<%= link_to 'Back', exams_path %>
