<nav class="navbar navbar-upper navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'hyy.png', class: 'hyy-logo' %>
        HYY Tenttiarkisto
      <% end %>
    </div>

    <div class="pull-right">
      <ul class="nav navbar-nav">
        <% if current_user %>
        <li>
          <%= link_to "Logged in as " + current_user.organization, edit_user_registration_path %>
        </li>
        <% if user_is_super_admin %>
          <li>
            <%= link_to "Super Admin", admin_path %>
          </li>
        <% end %>
        <li>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_session_path do %>
            <span class="hidden-xs">Organization </span>Login
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>

  </div>
</nav>


<nav class="navbar navbar-sub navbar-fixed-top">
  <div class="container">

    <h1 class="pull-left">
      <% if @header %>
        <%= @header %>
      <% else %>
        <%= controller.controller_name %>
      <% end %>
    </h1>

    <%= link_to 'Add Exam', new_exam_path, class: "btn btn-add pull-right" %>

    <div class="clearfix"></div>

  </div>
</nav>
